@model IEnumerable<Employee_Directory_App.Models.JobTitle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="k-button k-button-md k-rounded-md k-button-solid">Create New</a>
</p>
<script src="/js/jobTitles.js"></script>
@(
Html.Kendo().Grid<Employee_Directory_App.Models.JobTitle>()
    .Name("JobTittleGrid")
    .Columns(columns =>
    {
        columns.Bound(j => j.Title);
        columns.Command(command =>
        {
            command.Custom("Edit").Click("onEditClick").Text("Edit");
            command.Destroy().Text("Delete");
        }).Title("Actions");
    })
    .Pageable()
    .Scrollable()
    .Sortable()
    .Groupable()
    .Filterable()
    .Events(e => e.DataBound("onDataBound"))
    .DataSource(dataSource => dataSource 
        .Ajax()
        .PageSize(20)
        .Model(model=>
        { 
            model.Id(p => p.Id);
        })
        .ServerOperation(true)
        .Read(read => read.Action("ReadJobTitles", "JobTitles"))
        .Destroy(destroy => destroy.Action("Destroy", "JobTitles"))
    )
)
