<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2025.4.1111(AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2025 Q4\" />
    <add key="Telerik UI for ASP.NET Core 2025.4.1111(MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2025 Q4\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>