@using Employee_Directory_App.ViewModels


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />

<link rel="stylesheet" href="/css/employee.css"/>
<script src="/js/employees.js"></script>
@(
Html.Kendo().Form<EmployeeViewModel>()
                .Name("employeeCreateForm")
                .HtmlAttributes(new { method="POST" })
                .Validatable(v => v
                    .ValidateOnBlur(true)
                    .ValidationSummary(vs => vs.Enable(true))
                )
                .Layout("grid")
                .Grid(g => g.Cols(2).Gutter(20))
                .Items(items =>
                {
                    items.Add()
                        .Field(f => f.Employee.FirstName)
                        .Label(l => l.Text("First Name:"))
                        .Editor(e => e.TextBox().Name("Employee.FirstName"));

                    items.Add()
                        .Field(f => f.Employee.LastName)
                        .Label(l => l.Text("Last Name:"))
                        .Editor(e => e.TextBox().Name("Employee.LastName"));

                    items.Add()
                        .Field(f => f.Employee.Email)
                        .Label(l => l.Text("Email:"))
                        .Editor(e => e.TextBox().Name("Employee.Email").HtmlAttributes(new { type = "email" }));

                    items.Add()
                        .Field(f => f.Employee.PhoneNumber)
                        .Label(l => l.Text("Phone Number:"))
                        .Editor(e => e.TextBox().Name("Employee.PhoneNumber"));

                    items.Add()
                        .Field(f => f.Employee.HireDate)
                        .Label(l => l.Text("Hire Date:"))
                        .Editor(e => e.DateTimePicker().Format("dd-MM-yyyy").Name("Employee.HireDate"));
                    items.Add()
                        .Field(f => f.Password)
                        .Label(l => l.Text("Password"))
                        .Editor(e => e.TextBox());
                    items.Add()
                        .Field(f => f.Employee.DepartmentId)
                        .Label(l => l.Text("Department:"))
                        .Editor(e => e.DropDownList()
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .BindTo(Model.Departments)
                            .Name("Employee.DepartmentId"));

                    items.Add()
                        .Field(f => f.Employee.JobTitleId)
                        .Label(l => l.Text("Job Title:"))
                        .Editor(e => e.DropDownList()
                            .DataTextField("Title")
                            .DataValueField("Id")
                            .BindTo(Model.JobTitles)
                            .Name("Employee.JobTitleId"));

                    items.Add()
                        .Field(f => f.Employee.IsActive)
                        .Label(l => l.Text("Is Active:"))
                        .Editor(e => e.CheckBox().Name("Employee.IsActive"));

                    items.Add()
                        .Field("ImageFile")
                        .Label(l => l.Text("Profile Photo:"))
                        .Editor(e => e.Upload()
                            .Name("ImageFile")
                            .Multiple(false)
                            .Async(a => a
                                .Save("SaveTempImage", "Employees")
                                .AutoUpload(true))
                        .Validation(validation => validation
                        .AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png", ".gif" })
                        .MaxFileSize(5242880))
                        .Events(events => events
                            .Select("onImageSelect")
                            .Success("onImageUploadSuccess")));
                })
                .Events(events => events.ValidateField("onFormValidateField").Submit("onFormSubmit"))
)

<div id="uploadPreview"></div>
<div class="back-button">
    @(Html.Kendo().Button()
        .Name("backButton")
        .Content("Back to List")
        .Icon("arrow-left")
        .ThemeColor(ThemeColor.Secondary)
        .HtmlAttributes(new {@class = "k-button-m k-rounded-md"})
        .Events(e=>e.Click("onBackClick"))
    )
</div>
