@using Employee_Directory_App.Models
@using Employee_Directory_App.ViewModels
@* REMOVE THIS LINE: @model IEnumerable<Employee_Directory_App.ViewModels.EmployeeGridViewModel> *@
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a asp-action="Create" class="k-button k-button-md k-rounded-md k-button-solid">Create New</a>
</p>
<script nonce="Telerik-Examples">
    function onDataBound(e){
        var grid = this;
        var isAdmin = '@User.IsInRole("Admin")'.toLowerCase() === "true";
        if(!isAdmin){
            grid.tbody.find(".k-grid-Delete").hide();
        }
    }
    
    function detailsClick(e){
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '/Employees/Details/' + dataItem.Id;
    }
</script>

@(
Html.Kendo().Grid<EmployeeGridViewModel>()  @* Change this - specify type but don't pass Model *@
.Name("grid")
    .Columns(columns => {
        columns.Bound(e => e.FirstName).Title("First Name");
        columns.Bound(e => e.LastName).Title("Last Name");
        columns.Bound(e => e.Email);
        columns.Bound(e => e.PhoneNumber);
        columns.Bound(e => e.HireDate).Format("{0:dd.MM.yyyy}");
        columns.Bound(e => e.Department);
        columns.Bound(e => e.JobTitle);

        // Use ClientTemplate for Ajax binding
        columns.Bound(e => e.ProfilePhoto)
            .Title("Profile Photo")
            .Sortable(false)
            .Filterable(false);
        
        columns.Bound(e => e.IsActive);
        columns.Command(command => {
            command.Edit().Text("Edit");
            command.Custom("Details").Click("detailsClick").Text("Details");
            command.Destroy().Text("Delete");
        }).Title("Actions").Width(250);
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Groupable()
    .Filterable()
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EmployeeGridViewModel"))
    .Events(e => e.DataBound("onDataBound"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => 
        {
            model.Id(p => p.Id);
        })
        .ServerOperation(true)
        .Read(read => read.Action("ReadEmployees", "Employees"))
        .Update(update => update.Action("Update", "Employees"))
        .Destroy(destroy => destroy.Action("Destroy", "Employees"))
    )
)