.photo-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-preview-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid #ddd;
}

.photo-preview-title {
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.photo-preview-container {
    margin-top: 15px;
    text-align: center;

}

.back-button {
    margin: 20px;
}
.current-photo-img {
    max-width: 150px;
    max-height: 150px;
    object-position: center;
}

.current-photo-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid #ddd;
}
.current-photo-div {
    text-align: center;
}

.current-photo-text {
    text-align: center;
}

.current-photo-container {
    margin-top: 30px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    max-width: 400px;
}

.remove-button {
    margin-top: 15px
}